* {
	margin: 0;
	padding: 0;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}
#menu {
	display:flex;
    justify-content: space-evenly;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: rgb(69, 26, 107);
	color: white;
    text-align: right;
}
h1{
text-align: left;
}
h2{
    text-align: center;
}
figure{
    margin: auto;
}
figcaption{
    text-align: center;
}
#menu::after {
	content: "≡";
}
nav {
	background-color: rgb(87, 68, 139);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: .75rem;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::after {
	content: "X";
}
